:root {
    --primaryColor: #f3a7a0;
    --secondaryColor: #000c45;
    --fontColor: #222;
    --whiteColor: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-color:
        /* var(--primaryColor); */
        #c0c0c0;
    color: var(--whiteColor);
}


header {
    width: 100%;
    height: 100vh;
    background-image: url("images/smiling\ head.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    ;
}


body {
    width: 100%;
    height: auto;

    background-color: #727C80;
}

.section {
    padding: 100px 18%;
}

img {

    max-width: 100%;

}

ul {
    list-style: none;
}


nav .my_logo {
    color: gold;
    font-style: italic;
}

nav a {
    text-decoration: wavy;
}

.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    z-index: 3;
    background-color: rgb(137, 136, 197);
}


.navbar .menu {
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.navbar .menu>a {
    text-decoration: none;
    color: gold;
}

.navbar .menu>a:hover {
    color: var(--whiteColor);
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    z-index: 2;
    position: relative;
}

.header-title>h2 {
    color: var(--secondaryColor);
    font-size: 1.5rem;
    margin-top: 7em;
}


.header-title>h2>span {
    background-color: rgb(137, 136, 197);
    padding: 10px;

    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--secondaryColor);
}


.header-title .btn {
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    text-decoration: none;
    padding: 0.5rem;
    margin: 1.5rem;
    width: 200px;
    border-radius: 35px;
    border: 2px solid gold;
    box-shadow: 10px 10px 14px 10px rgb(0 0 /20%);
    cursor: pointer;
    transition: ease 0.2s;
}

.header-title .btn:hover {
    background-color: transparent;
    letter-spacing: 1;
}

.social-media {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 200px;
}

.social-media>a {
    text-decoration: none;
    color: blue;
    font-size: 1.1rem;
}

.social-media>a:hover {
    color: var(--primaryColor);
}


/*moving text*/
.moving-words {
    font-size: 2rem;
    padding:10px;
}

.text_1 {
    animation: text1;
    color: gold;
    font-weight: bold;
}

.text_2 {
    animation: text2;
    color: var(--secondaryColor);
    font-weight: bold;
}


.text_1,
.text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 15s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}



.text_1::after,
.text_2::after {
    content: "";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}


@keyframes text2 {

    0%,
    50%,
    100% {
        width: 0;
    }

    60%,
    90% {
        width: 22em;
    }
}

@keyframes text1 {

    0%,
    50%,
    100% {
        width: 0;
    }

    10%,
    40% {
        width: 18em;
    }
}

@keyframes caret {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


/*arrow*/

.arrow[data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}

[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: 100%;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0px 0 0 -40px;
    padding: 2px;
    line-height: 60px;
    position: absolute;
    top: 90%;
    left: 55%;
    bottom: 0px;
    color: black;
    text-align: center;
    font-size: 50px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

/*main styling*/
main {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    width: 80%;
    margin: 0 auto;
}



#heading {
    display: grid;
    grid-auto-flow: column;
    gap: 28em;
    align-items: center;
    margin-bottom: 10px;
}


#heading h1 span {
    font-size: 1em;
    color: cornsilk;
}

article {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid gold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}



article.post:hover {
    border-style: dotted;
    border-width: 2px;
    border-color: red gold green skyblue;
    transform: scale(1.1);
    padding: 5px;

}

article>a {
    text-decoration: none;
    color: cornsilk;
}

article img {
    margin-right: 15px;

}

span {
    font-size: 20px;
    color: #222;
}



.skills .top-title {

    padding: 1em;
    color: rgb(137, 136, 197);

}

.skills {
    width: 100%;
    padding: 3rem;
    background: #f2f2f2;
    text-align: center;
    color: var(--fontColor);
}

.skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-detail {
    width: 300px;
    padding: 1rem;
    margin: 10px;
    background: #f9f9f9;
    text-align: center;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.skill-detail:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 12px #00003f;
}

.skill-detail>img {
    width: 80px;
}

.skill-detail>h2 {
    font-size: 1.2rem;
    line-height: 2;
    color: var(--secondaryColor);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem;
    background-color: rgb(137, 136, 197);
}

.project a {
    text-decoration: none;
    color: cornsilk;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-detail {
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin: 0.5rem;
    position: relative;
}

.project>h1 {
    padding-top: 15px;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.3s;
    cursor: pointer;
}

.project-detail:hover .project-image {
    transform: scale(1.2)
}

.project-button {
    display: none;
    border: 2px solid var(--secondaryColor);
    background-color: var(--whiteColor);
    padding: 0.6rem 2rem;
    color: var(--fontColor);
    position: absolute;
    left: cal(180px/ 2);
    top: cal(200px/2);
    z-index: 2;
    cursor: pointer;
}

.project-detail:hover .project-button {
    display: block;
}

.project-button:hover {
    border: 2px solid var(--secondaryColor);
    background: var(--secondaryColor);
    color: var(--whiteColor);
}

.more {
    padding: 0.6rem 3rem;
    margin: 1rem;
    background-color: transparent;
    border: 2px solid var(--whiteColor);
    color: var(--whiteColor);
    cursor: pointer;
}

.more:hover {
    border: 2px solid var(--fontColor);
    color: var(--fontColor);
    background: tranparent;
}

.hire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: grey;
}

.hire a {
    text-decoration: none;
}

.hire .top-title {
    color: gold;
}

.hire-wrapper {
    padding: 5px;
    max-width: 600px;
    text-align: center;
}

.key {
    margin: 1 rem 0;
    padding: 0.6rem 3rem;
    border: 2px solid var(--primaryColor);
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    cursor: pointer;
}

.key:hover {
    background-color: transparent;
}

.copyright {
    width: 80%;

    padding: 0.5rem 0;
    bottom: 0;
    text-align: center;
    color: gold;
    font-size: 0.8rem;
    border-top: 1px solid gold;
}

@media screen and (max-width:480px) {


    nav .my_logo {
        color: gold;
        font-style: italic;
        margin-left: 0;
    }

    header {
        height: 100vh;
    }

    h1 {
        font-size: 1.7rem;
    }

    .header-title>h2 {
        position: relative;
        margin-top: 15em;
        font-size: 1em;

    }

    .header-title>h2>span {
        background-color: rgb(137, 136, 197);
        padding: 10px;
        border-radius: 10px;
        border: 2px solid var(--secondaryColor);
    }

    .header-title .moving-words {
        padding-top: 25px;
        font-size: 1em;
    }

    .header-title blockquote {
        position: relative;
        margin-top: 2em;
        background: rgb(137, 136, 197);
        font-weight: bold;
        padding-top: 5px;
        color: black;
        border-radius: 10px;


    }




    blockquote .hq {
        color: gold;

    }

    blockquote>i {
        padding: 4px;
    }

    .post .text {
        font-size: 15px;
    }


    #heading {
        display: grid;
        grid-auto-flow: column;
        gap: 4em;
        align-items: center;
        margin-bottom: 10px;
    }

    #heading>a>img {
        width: 70%;
    }

    .project {
        padding: 0;

    }

    .project #heading {
        margin-top: 1em;
    }

    .project #heading h1 {
        font-size: 20px;

    }

    .project #heading .image {

        padding-left: 100px;

    }
}